.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  display: inline-block;
  text-align: center;
  padding: 2.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  transition: transform .3s;
  &:hover {
      transform: translateY(-3px) scale(1.05);
  }

  &__icon {
    font-size: 6rem;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    -webkit-background-clip: text;
    margin-top: .5rem;
    color: transparent;
    display: inline-block;
  }
}
