.form {
  &__group {
    margin-bottom: 2rem;
  }
  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    display: block;
    border: none;
    border-radius: 3px;
    border-bottom: 3px solid transparent;
    padding: 1.5rem 2rem;
    width: 90%;
    transition: all 0.3s;
    &:focus {
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      outline: none;
      border-bottom: 3px solid $color-primary;
    }
    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }
    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
  &__label {
    margin-left: 2rem;
    margin-top: 0.7rem;
    font-weight: 700;
    font-size: 1.2rem;
    display: block;
  }

  &__radio-group {
    width: 49%;
    display: inline-block;
    position: relative;
  }

  &__radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    padding-left: 4.5rem;
  }

  &__radio-input {
    display: none;
  }

  &__radio-button {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 0.6rem solid $color-primary;
    display: inline-block;
    position: absolute;
    top: -0.5rem;
    left: 0;
    &::after {
      content: "";
      width: 1.75rem;
      height: 1.75rem;
      background-color: $color-primary;
      border-radius: 50%;
      display: block;
      opacity: 0;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
