.about {
  padding: 30rem 0;
  margin-top: -20vh;
  background-color: $color-grey-light-1;

  &__heading-secondary {
    font-size: 3.5rem;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    transition: all .2s;
    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
  }
  .heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.features {
  padding: 20rem 0;
  background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
    url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }
}
